<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>0</td> <td title="&gt;&gt;demoTestNG.beforeSuite()[pri:0, instance:testNG.demoTestNG@61832929]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>7</td> <td>&nbsp;</td><td title="&gt;&gt;demoTestNG.beforeTest()[pri:0, instance:testNG.demoTestNG@61832929]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;demoTestNG.beforeClass()[pri:0, instance:testNG.demoTestNG@61832929]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;demoTestNG.beforeMethod()[pri:0, instance:testNG.demoTestNG@61832929]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="demoTestNG.test2()[pri:1, instance:testNG.demoTestNG@61832929]">test2</td> 
  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;demoTestNG.afterMethod()[pri:0, instance:testNG.demoTestNG@61832929]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;demoTestNG.beforeMethod()[pri:0, instance:testNG.demoTestNG@61832929]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="demoTestNG.test()[pri:2, instance:testNG.demoTestNG@61832929]">test</td> 
  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;demoTestNG.afterMethod()[pri:0, instance:testNG.demoTestNG@61832929]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;demoTestNG.afterClass()[pri:0, instance:testNG.demoTestNG@61832929]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>47</td> <td>&nbsp;</td><td title="&lt;&lt;demoTestNG.afterTest()[pri:0, instance:testNG.demoTestNG@61832929]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/12/12 13:30:13</td>   <td>96</td> <td title="&lt;&lt;demoTestNG.afterSuite()[pri:0, instance:testNG.demoTestNG@61832929]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
</table>
